<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{.Label}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{.ScriptPath}}</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HERMES_HOME</key>
        <string>{{.HomeDir}}</string>
        <key>RESTIC_REPOSITORY</key>
        <string>{{.ResticRepository}}</string>
        <key>RESTIC_PASSWORD_COMMAND</key>
        <string>{{.ResticPasswordCommand}}</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>15</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardErrorPath</key>
    <string>{{.HomeDir}}/logs/backup.launchd.err</string>
    <key>StandardOutPath</key>
    <string>{{.HomeDir}}/logs/backup.launchd.out</string>
</dict>
</plist>
