<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{.Label}}</string>
    <key>UserName</key>
    <string>{{.UserName}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>mkdir -p {{.HomeDir}}/.hermes/heartbeat; date +%s &gt; {{.HomeDir}}/.hermes/heartbeat/{{.NodeLabel}}</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{.HomeDir}}/.hermes/heartbeat/launchd.err</string>
    <key>StandardOutPath</key>
    <string>{{.HomeDir}}/.hermes/heartbeat/launchd.out</string>
</dict>
</plist>
